
<div class="container" style="padding-top: 10px; padding-left: 60px; padding-right: 60px;">
    <div class="row" style="padding-bottom: 20px;">
    <div class="col-3 col-md-3 col-xs-6"><a href="http://transparencia.utalca.cl/index.php?"><div class="text-uppercase color-blanco letter-spacing">Transparencia Activa</div></a></div>
    <div class="col-3 col-md-3 col-xs-6"><a href="http://www.violenciadegenero.utalca.cl/"><div class="text-uppercase color-blanco letter-spacing">Violencia de género</div></a></div>
    <div class="col-3 col-md-3 col-xs-6"><a href="https://www.utalca.cl/contacto/"><div class="text-uppercase color-blanco letter-spacing">Contacto</div></a></div>
    <div class="col-3 col-md-3 col-xs-6"><div class="text-uppercase color-blanco text-center letter-spacing">Síguenos</div></div>
    </div>
    <div class="row" style="padding-bottom: 20px;">
    <div class="col-3 col-md-3 col-xs-6"><a href="https://www.utalca.cl/content/uploads/2019/05/TransparenciaPasiva-1.pdf"><div class="text-uppercase color-blanco letter-spacing">Transparencia Pasiva</div></a></div>
    <div class="col-3 col-md-3 col-xs-6"><a href="http://editorial.utalca.cl/"><div class="text-uppercase color-blanco letter-spacing">Editorial</div></a></div>
    <div class="col-3 col-md-3 col-xs-6"><a href="http://www.tienda.utalca.cl/"><div class="text-uppercase color-blanco letter-spacing">Tienda</div></a></div>
    <div class="col-3 col-md-3 col-xs-6 letter-spacing text-center">
        <a href="https://www.facebook.com/utalca/" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i> </a>
        <a href="https://twitter.com/utalca" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i> </a>
        <a href="https://www.instagram.com/utalca/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i> </a>
        <a href="https://www.youtube.com/channel/UCoH9MLoWd9f5mFbSBaa_X9Q" target="_blank"><i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i> </a>
        <a href="https://www.linkedin.com/in/utalca/" target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a> </div>
    </div>
    <div class="row" style="padding-bottom: 20px;">
    <div class="col-3 col-md-3 col-xs-6"><a href="https://www.leylobby.gob.cl/instituciones/UN012"><div class="text-uppercase color-blanco letter-spacing">Ley del Lobby</div></a></div>
    <div class="col-3 col-md-3 col-xs-6"><a href="http://condor2.utalca.cl/pls/u_online/utalca_dir.inicio"><div class="text-uppercase color-blanco letter-spacing">Directorio de personas</div></a></div>
    <div class="col-3 col-md-3 col-xs-6"><a href="http://www.llamadoconcurso.utalca.cl/"><div class="text-uppercase color-blanco letter-spacing">Llamados a Concurso</div></a></div>
    <div class="col-3 col-md-3 col-xs-6"></div>
    </div>
    <hr>
    <div class="row" style="padding-bottom: 10px;">
    <div class="col-3 col-md-3 col-xs-6"><a href="https://www.utalca.cl/"><img src="https://www.utalca.cl/content/uploads/2019/04/Logo_blanco-2.svg"></a></div>
    <div class="col-3 col-md-3 col-xs-6"><img src="https://www.utalca.cl/content/uploads/2020/07/blanco2020_2.png"></div>
    <div class="col-3 col-md-3 col-xs-6 align-items-center"><a href="http://radioemisoras.utalca.cl/"><img src="https://www.utalca.cl/content/uploads/2020/04/radio.png"></a></div>
    <div class="col-3 col-md-3 col-xs-6 align-items-center"><a href="http://campustv.utalca.cl/"><img src="https://www.utalca.cl/content/uploads/2020/04/campustv.png"></a></div>
    </div>
</div>
<div class="clearfix"></div>