@{
    ViewData["Title"] = "Bienvenido";
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <!--Titulo-->
        <div class="page-title">
            <div class="title_left">
                <h3>@ViewBag.Title</h3>
            </div>
        </div>
        <br />
        <!--/ Titulo-->

    </div>
</div>
<!-- /page content -->