@{
    ViewData["Title"] = "¡Bienvenido a EOS3!";
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <!--Contenido -->

        <!--jumbotron-->
        <div class="">
            <!--Form -->
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-th-list"></i></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <!--Content-->
                        <div class="jumbotron">
                            <h1>@ViewBag.Title</h1>
                            <p>EOS3 es un laboratorio virtual que modela ecuaciones cúbicas de estado y aproxima propiedades con datos mínimos. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end Form-->
        </div>
        <!--/end -->


        <!--timeline-->
        <div class="">
            <!--Form -->
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-th-list"></i></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <!--Content-->
                        <ul class="list-unstyled timeline">
                        <li>
                        <div class="block">
                            <div class="tags">
                            <a href="" class="tag">
                                <span>Entertainment</span>
                            </a>
                            </div>
                            <div class="block_content">
                            <h2 class="title">
                                            <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                                        </h2>
                            <div class="byline">
                                <span>13 hours ago</span> by <a>Jane Smith</a>
                            </div>
                            <p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
                            </p>
                            </div>
                        </div>
                        </li>
                        <li>
                        <div class="block">
                            <div class="tags">
                            <a href="" class="tag">
                                <span>Entertainment</span>
                            </a>
                            </div>
                            <div class="block_content">
                            <h2 class="title">
                                            <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                                        </h2>
                            <div class="byline">
                                <span>13 hours ago</span> by <a>Jane Smith</a>
                            </div>
                            <p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
                            </p>
                            </div>
                        </div>
                        </li>
                        <li>
                        <div class="block">
                            <div class="tags">
                            <a href="" class="tag">
                                <span>Entertainment</span>
                            </a>
                            </div>
                            <div class="block_content">
                            <h2 class="title">
                                            <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                                        </h2>
                            <div class="byline">
                                <span>13 hours ago</span> by <a>Jane Smith</a>
                            </div>
                            <p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
                            </p>
                            </div>
                        </div>
                        </li>
                    </ul>
                        <!--Content-->
                    </div>
                </div>
            </div>
            <!--end Form-->
        </div>
        <!--/end -->
    </div>
</div>
<!-- /page content -->